
            body {
                margin:0px;
                padding:0px;
                border:0px;
                font-family: 'Poppins', sans-serif;

            }

            header {
                margin:0px;
                padding:0px;
                border:0px;
                color: plum;
                font-weight: bolder;
                text-shadow: 1px 1px 3px #000;
                font-kerning: 0px;
                font-family: 'Poppins', sans-serif;
            }

            input {
                -moz-appearance: none;
                -webkit-appearance: none;
                border: 1px solid #ddd;
            }

            input:focus {
                border: 1px solid #ccc;
                box-shadow: none !important;
                outline: none !important;
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
            }

            .login-body {
                background-image: url(/static/images/chewed_gum.jpg);
                position: sticky;
                top: 0;
                left: 0;
                /*Preserve aspet ratio */*/
                min-width: 100%;
                min-height: 100%;
            }

            .pull-right {
                float:right;
                color: plum
            }

            .banner_flex_container {
                display: flex-container;
                display: -webkit-flex;
                flex-wrap: wrap;
                width:100%;
                 -webkit-flex-direction: row;
                flex-direction: row;
                padding: 0;
                margin-bottom: 0;
                display: inline-flex;
                background-image: url(/static/images/concrete_wall.jpg);
                height: 100px;
            }

            .headline {
                display: inline-flex;
                align-items: center;
                text-align: left;
                color: hotpink;
                font-weight:600;
                font-size: 30px;
                text-shadow: 1px 1px 3px #000;
            }

		 .formbox {
                padding: 0;
                display: inherit;
                text-align: right;;
                color: #333333;
                border-radius: 25px;
                margin:0px;
                height: 30px;

            }

            input{
                padding: 10px;
                margin: 10px;
                background-color: transparent;
                font-weight: bold;
                text-shadow: none;
                border: none;
                border-bottom: solid 3px #8E8E8E;
                transition: bottom-border 0.3s;
            }


            input[type="submit"]{
                 padding: 10px;
                 color: #8E8E8E;
                 border: solid 5px #8E8E8E;
                 transition:  border 0.3s;
            }

            input[type="submit"]:focus,
            input[type="submit"].focus {
                border: solid 5px #473C8B;
            }


            .flex-container {
                display: -webkit-flex;
                display: flex;
                flex-wrap: wrap;
                -webkit-flex-direction: row;
                flex-direction: row;
                justify-content: center;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                padding: 0px;
                -webkit-flex: 1 100%;
                flex: 1 100%;
            }

            /*.flex-container > * {
                padding: 0px;
                -webkit-flex: 1 100%;
                flex: 1 100%;
            }*/

            #gallerycontainer {
                  position: relative;
                  height: 100%;
                  width: 100%;
                  margin: 0 auto;
                  overflow: auto;
             }

            #gallery {
                width: 4520px;
                position: absolute;
                z-index: 1;
            }
                #gallery a {
            	  float: left;
            	  margin-right: 5px;
              	  border: 1px solid #000;
            	}
            .detail {
                padding: 10px;
                margin: 10px;
                display: inline-block;
                align-items: center;
                color: #282828;
                border-radius: 5px;

            }

            .card {
                position: relative;
                float: left;
                padding-bottom: 0%;
                width: 100%;
                text-align: center;
                background-image: url(/static/images/concrete_wall.jpg);
            }

            .card__front,
            .card__back {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: gray;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
            }
/*
            .card__front,
            .card__back {

            }*/

            .card__back {

                font-family: 'Poppins', sans-serif;
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
             }

            .card.effect__click.flipped .card__front {
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
            }

            .card.effect__click.flipped .card__back {
                -webkit-transform: rotateY(0);
                transform: rotateY(0);
            }
            .footer {
                background-color: pink;
                position: relative;
                right: 0;
                bottom: 0;
                left: 0;
                padding: .5rem;
                text-align: center;
                font-family: 'Poppins', sans-serif;

            }
                .image_box {
                    display: -webkit-flex;
                    display: inline-flex;
                    -webkit-flex-direction: row;
                    flex-direction: row;
                    text-align: center;
                    width: 417px;
                    height: 640px;
                }

            .image_sizer {
            width: 417;
            height: 640;
            }

            #outer_box {
                    display:inline-flex;;
                    /*flex-direction: row;
                    flex-wrap: wrap;*/
                    /*text-align: center;
                    background-color: #98ff98;
                    position: relative;*/
            }
