<!DOCTYPE HTML>
<html>
<head>
<title>{% if request.user.is_authenticated %}Logged In{% else %}Not Logged In{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="comic_form.css">
</head>

<body class="{% if request.user.is_authenticated %}logged-in{% else %}logged-out{% endif %}">

{% if request.user.is_authenticated %}
    <a href="/accounts/logout/" class="pull-right">Logout</a>
    {% if request.user.first_name or request.user.last_name %}
        {{ request.user.first_name }} {{ request.user.last_name }}
    {% else %}
        {{ request.user.username }}
    {% endif %}
    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
    <form action="/comics/add/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Search">
    <br>
    <br>
    <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    </div>
    </form>
{% else %}
    <a href="/accounts/login/" class="pull-right">Login</a>
{% endif %}
</body>
</html>
