<!DOCTYPE HTML>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Poppins|Raleway|Titillium+Web|Ubuntu" rel="stylesheet">
<title>{% if request.user.is_authenticated %}Logged In{% else %}Not Logged In{% endif %}</title>
    {% csrf_token %}
    {% load staticfiles %}



 <link rel="stylesheet" type="text/css" href="/static/comic_form.css">


</head>

<header>
    {% if request.user.is_authenticated %}
        <a href="/accounts/logout/" class="pull-right">Logout</a>
        {{ request.user.username }}

    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
</header>
<body class = "{% if request.user.is_authenticated %}login-body{% else %}logged-out{% endif %}">
    <div class= "headline">
        <h1> Stick Your Comics Here. </h1>
    </div>
    <div class= "formbox">

        <form action="/comics/add/" method="post">
        {% csrf_token %}

        <div>
        {{ form.series }}

        {{ form.first_issue }}

        {{form.last_issue }}

        <input type="submit" value="add">
        </div>
        </form>
    </div>

        <div class="flex-container">

            <!-- <div id='outer_box'> -->

                {% for comic in view.get_queryset %}
                <div class='image_box'>
                    <div class='card'>
                        <div class='card effect__click'>
                            <div class='card__front'>
                                <img class='image_sizer'
                                src={{ comic.comic_issue.cover_art }}
                                alt="Cover Art Not Found">
                            </div>
                            <div class="card__back">
                                <br>
                                <br>
                                <article class= "detail"
                                <h1>{{comic.comic_issue.series}}
                                    <br>
                                    {{comic.comic_issue.issue_number}}</h1>
                                    <br>
                                    <br>
                                    {{comic.comic_issue.description}}
                                </article>


                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
                {% endfor %}

            </div>

        <div class='footer'>
            a bubblegum the kid production
        </div>
        {% else %}
        <a href="/accounts/login/" class="pull-right">Login</a>
        {% endif %}

<script>
            (function() {
                var cards = document.querySelectorAll(".card.effect__click");
                for ( var i  = 0, len = cards.length; i < len; i++ ) {
                var card = cards[i];
               console.log(card)
            clickListener( card );
                }

            function clickListener(card) {
                card.addEventListener( "click", function() {
                var c = this.classList;
                c.contains("flipped") === true ? c.remove("flipped") : c.add("flipped");
                });
              }
            })();

            function changeOrdinal() {

              var length = items.children.length,
                  ordinal = 0;

              // start at the item BEFORE the active one.
              var index = active-1;

              /* if the active item was 0, we're now at -1 so
                  set to the last item */
              if (index < 0) {
                  index = length-1;
              }

              // now run through adding the ordinals
              while ( ordinal < length ) {
                  // add 1 to the ordinal - ordinal cannot be 0.
                  ordinal++;

                  // check the item definetely exists :)
                  var item = items.children[index];
                  if ( item && item.style ) {
                      // new ordinal value
                      item.style[boxOrdinalGroup] = ordinal;
                  }

                  /* as we are working from active we need to go back to
                     the start if we reach the end of the item list */
                  if ( index < length-1 ) {
                      index++;
                  } else {
                      index = 0;
                  }
              }
            }
</script>

<script>
    // attach the onclick event
function move(inc){
    var box = document.getElementById('outer_box');
    var x_pos = box.offsetLeft;
    box.style.left = (x_pos+inc) + 'px';
}
</script>
</body>
</html>
