<!DOCTYPE>
<html>
{% csrf_token %}
{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="comics/static/comic_detail.css">
</head>

<body>
<div>
    <h1>{{comic.series}}</h1>
    <h2> {{comic.issue_number}}</h2>
</div>

<div class="flex-container">

    <div class="detail">
        <ul>
            {% for name, value in comic.get_fields %}
                {{ name }} : {{ value }}

            {% endfor %}

        </ul>
    </div>

    <div class="image">

        <img src={{comic.cover_art}} alt="Cover Art Not Found">
    </div>
</div>

<footer>boop</footer>
<!-- </div> -->

</body>
</html>
